@model CCCSportsCentreGradedUnit.Models.Member
@{
    ViewData["Title"] = "Delete";
}

<br />
@if (TempData.ContainsKey("Alert"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["Alert"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

}
else if (TempData.ContainsKey("Success"))
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
}
<br />

<h2 class="text-info"> Delete/Diable Member</h2>
<form method="post" asp-action="Delete">
    <div class="p-4 border rounded">

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Email"></label>
            </div>
            <div class="col-5">
                <input asp-for="Email" disabled class="form-control" />
            </div>

        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PhoneNumber"></label>
            </div>
            <div class="col-5">
                <input asp-for="PhoneNumber" disabled class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MemberTitle"></label>
            </div>
            <div class="col-5">
                <input asp-for="MemberTitle" disabled class="form-control" />
            </div>

        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FirstName"></label>
            </div>
            <div class="col-5">
                <input asp-for="FirstName" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="LastName"></label>
            </div>
            <div class="col-5">
                <input asp-for="LastName" disabled class="form-control" />

            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="PostCode"></label>
            </div>
            <div class="col-5">
                <input asp-for="PostCode" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="HouseNumber"></label>
            </div>
            <div class="col-5">
                <input asp-for="HouseNumber" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Street"></label>
            </div>
            <div class="col-5">
                <input asp-for="Street" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="City"></label>
            </div>
            <div class="col-5">
                <input asp-for="City" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Country"></label>
            </div>
            <div class="col-5">
                <input asp-for="Country" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="BirthDate"></label>
            </div>
            <div class="col-5">
                <input asp-for="BirthDate" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="GenderType"></label>
            </div>
            <div class="col-5">
                <input asp-for="GenderType" disabled class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" asp-route-id="@Model.Id" value="Delete" />
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>

</form>

