@model CCCSportsCentreGradedUnit.Models.ViewModels.FitnessClassViewModel
@using CCCSportsCentreGradedUnit.Extensions


<br />
@if (TempData.ContainsKey("Alert"))
{
    <div class="alert alert-danger" role="alert">@TempData["Alert"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

}
else if (TempData.ContainsKey("Success"))
{
    <div class="alert alert-success" role="alert">@TempData["Success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
}
<br />

<h2 class="text-info"> Delete Fitness Class</h2>
<form method="post">
    <div class="p-4 border rounded">
        <input hidden asp-for="FitnessClass.Id" />
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FitnessClassCategories"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.FitnessClass.FitnessClassCategory.Name" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FitnessClass.StartDate"></label>
            </div>
            <div class="col-5">
                <input asp-for="FitnessClass.StartDate" readonly class="form-control" data-date-format="dd/mm/yyyy" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FitnessClass.StartTime"></label>
            </div>
            <div class="col-5">
                <input asp-for="FitnessClass.StartTime" readonly class="form-control" data-date-format="HH:mm" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FitnessClass.EndTime"></label>
            </div>
            <div class="col-5">
                <input asp-for="FitnessClass.EndTime" readonly class="form-control" data-date-format="HH:mm" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FitnessClass.Duration"></label>
            </div>
            <div class="col-5">
                <input asp-for="FitnessClass.Duration" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FitnessClass.Price"></label>
            </div>
            <div class="col-5">
                <input asp-for="FitnessClass.Price" readonly class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FitnessClass.Available"></label>
            </div>
            <div class="col-5">
                <input asp-for="FitnessClass.Available" disabled />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="FitnessClass.NoOfPeopleBooked"></label>
            </div>
            <div class="col-5">
                <input asp-for="FitnessClass.NoOfPeopleBooked" readonly class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Rooms"></label>
            </div>
            <div class="col-5">
                <input asp-for="@Model.FitnessClass.Room.Name" readonly class="form-control" />
            </div>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-danger" value="Delete" />
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </div>

</form>




