@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<div class="media-image">
    <img src="~/images/sports_centre_exterior.jpg" alt="Image" class="img-fluid">
    <div class="col-md-8">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac ligula urna. Duis imperdiet maximus ante ut congue. Nulla facilisi. Aenean congue enim vel iaculis laoreet. Morbi semper diam non varius consectetur. Suspendisse vitae felis turpis. Vestibulum a dui ac arcu auctor placerat. Nullam cursus efficitur faucibus. Donec lobortis augue non interdum fringilla. Cras vitae sem blandit, fringilla sem non, ultrices nibh. Ut eget augue eget lacus pulvinar tincidunt. Quisque dictum dapibus lacus in ultricies. Nulla tortor orci, egestas ac gravida ut, condimentum non dui.

        Fusce purus leo, dictum blandit commodo at, pulvinar in sapien. Praesent ut feugiat elit, eu congue mi. Proin ut felis at nibh lobortis porta. Donec turpis quam, elementum vitae pharetra sit amet, efficitur at nulla. Nam nec magna fringilla mi vestibulum hendrerit ac bibendum lorem. Etiam enim sapien, auctor nec lacus non, gravida dapibus nunc. Suspendisse sapien erat, pretium in egestas nec, vulputate non quam. Etiam elementum mi at elit bibendum, non pretium sem feugiat. In iaculis accumsan ligula.

        Quisque blandit lectus id mauris ultricies, ut vestibulum mauris varius. Ut auctor nibh nec mollis eleifend. Integer consequat dui nec tempus tempor. Ut sollicitudin leo at arcu sollicitudin consequat. Proin neque odio, feugiat ut enim in, tincidunt tincidunt nulla. Phasellus ipsum ligula, blandit a porttitor sed, pellentesque eu leo. Fusce massa ante, auctor vel tempus non, vehicula in ligula. Nunc ornare sollicitudin mi nec pellentesque. Morbi sodales scelerisque odio non pellentesque. Praesent mattis vitae nunc vitae porttitor. Nunc viverra laoreet massa, viverra imperdiet justo laoreet vitae. Curabitur metus lacus, feugiat ut luctus vitae, pretium eu orci. Cras et ligula pellentesque tortor pellentesque sagittis. Ut justo lorem, tristique sed est sit amet, elementum interdum sem. Cras lobortis nisl ornare erat posuere consequat.


    </div>
   
</div>
