
@{
    ViewData["Title"] = "Cafe";
}
    <div class="media-image">
        <img src="~/images/cafe2.png" alt="Image" class="img-fluid">
        <p>Organic, gluten-free, dairy-free, vegan, raw - Nectar Cafe at CCCSports Centre caters to absolutely everybody.</p>
        <p>Katia Narain Phillips is the brains behind this ultra-nourishing cafe that supports living a healthy lifestyle for everyone.</p>
        <p>CCCSports Centre and Nectar Cafe go hand in hand, both focusing on your wellbeing - CCCSports Centre offer a multitude of classes including yoga, pilates and barre to name a few.</p>
        <p>Despite it’s central Glasgow location, the prices aren’t going to break the bank and leave you with a bad taste in your mouth. Organic smashed avocado on toast for £6? Winner, winner!</p>
    </div>
