@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sports street <br />
    Glasgow, G5 T2198052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@cccsportscentre.com">support@cccsportscentre.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@cccsportscentre.com">Marketing@cccsportscentre.com</a>
</address>
