@model CCCSportsCentreGradedUnit.Models.Staff
@{
    ViewData["Title"] = "Details";
}

<br />

<h2 class="text-info">Employee Details</h2>
<div class="p-4 border rounded">


    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Email"></label>
        </div>
        <div class="col-5">
            <input asp-for="Email" disabled class="form-control" />
        </div>

    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="PhoneNumber"></label>
        </div>
        <div class="col-5">
            <input asp-for="PhoneNumber" disabled class="form-control" />
        </div>
    </div>

    <div class="form-group row">
        <div class="col-2">
            <label asp-for="FirstName"></label>
        </div>
        <div class="col-5">
            <input asp-for="FirstName" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="LastName"></label>
        </div>
        <div class="col-5">
            <input asp-for="LastName" disabled class="form-control" />

        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="PostCode"></label>
        </div>
        <div class="col-5">
            <input asp-for="PostCode" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="HouseNumber"></label>
        </div>
        <div class="col-5">
            <input asp-for="HouseNumber" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Street"></label>
        </div>
        <div class="col-5">
            <input asp-for="Street" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="City"></label>
        </div>
        <div class="col-5">
            <input asp-for="City" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="Country"></label>
        </div>
        <div class="col-5">
            <input asp-for="Country" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="JobTitle"></label>
        </div>
        <div class="col-5">
            <input asp-for="JobTitle" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="EmergencyContact"></label>
        </div>
        <div class="col-5">
            <input asp-for="EmergencyContact" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="EmergencyContDetails"></label>
        </div>
        <div class="col-5">
            <input asp-for="EmergencyContDetails" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-2">
            <label asp-for="CurrentQualification"></label>
        </div>
        <div class="col-5">
            <input asp-for="CurrentQualification" disabled class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>

</div>